<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <footer th:fragment="footer" class="footer-principal py-5 bg-dark text-white mt-auto">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="footer-logo mb-3">
                        <span class="text-oro">Joyería</span> <span class="text-blanco">Elegante</span>
                    </h3>
                    <p class="footer-texto-secundario">© 2026 Joyería Elegante. Panel de Administración.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
