<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="modalConfirmar" class="modal fade" id="modalConfirmar" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center py-4">
                <div class="modal-body">
                    <i class="fas fa-exclamation-circle fa-3x text-warning mb-3"></i>
                    <h5>¿Seguro que desea agregar al carrito?</h5>
                    <div class="mt-4 d-flex justify-content-center gap-2">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">Quitar</button>
                        <button class="btn btn-danger px-4" id="confirmarAgregar">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
